@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .carousel {
    width: 100%;
    height: 400px; /* Sesuaikan tinggi carousel dengan kebutuhan Anda */
  }

  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    opacity: 0;
  }

  .carousel-item.active {
    opacity: 1;
  }

  .carousel-nav button {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .carousel-nav button:hover {
    opacity: 1;
  }
  @keyframes ping {
    0% {
      transform: scale(0.2);
      opacity: 1;
    }
    80%,
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

.navbar-fixed {
  @apply fixed z-[9999] bg-primary bg-opacity-[35%];
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.animasi-pingvideo {
  @apply w-20 h-20 rounded-full cursor-pointer -top-12 -left-2 bg-gradient-to-r z-30 from-primary  to-kuns absolute;
}
.video-conten {
  @apply w-16 h-16 flex cursor-pointer items-center rounded-full z-20 -top-10 bg-gradient-to-r from-primary  to-kuns absolute;
}
.span-color {
  @apply bg-white;
}

.sejarah {
  @apply text-primary font-semibold text-lg lg:text-2xl mt-10 mb-2;
}

.text-color {
  @apply lg:text-white;
}
.hover-berita {
  @apply w-0 h-0 group-hover:w-40 group-hover:h-40 sm:w-0 sm:h-0 group-hover:sm:w-32 group-hover:sm:h-32 md:w-0 md:h-0 group-hover:md:w-36 group-hover:md:h-36 lg:w-0 lg:h-0 group-hover:lg:w-32 group-hover:lg:h-32 xl:w-0 xl:h-0 group-hover:xl:h-40 group-hover:xl:w-40 group-hover:scale-110;
}
.dropdown {
  @apply block;
}
.dropdown-menu {
  @apply text-base text-secondry py-3 mx-6 flex hover:text-primary;
}

.catagory-footer {
  @apply text-slate-400 hover:text-primary;
}

.card-profil {
  @apply w-full max-w-full my-4 mb-10 lg:w-[30%] lg:h-80 border shadow-lg rounded-md  bg-white;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}
